.extracted_thumb {
	float: left;
	margin-right: 10px;
}
#loading_indicator{
	position: absolute;
	margin-left: 480px;
	margin-top: 8px;
	display:none;
}
#results{
	display:none;
}

.thumb_sel {
	float: left;
	height: 22px;
	width: 55px;
}
.thumb_sel .prev_thumb {
	background: url(../img/thumb_selection.gif) no-repeat -50px 0px;
	float: left;
	width: 26px;
	height: 22px;
	cursor: hand;
	cursor: pointer;
}
.thumb_sel .prev_thumb:hover {
	background: url(../img/thumb_selection.gif) no-repeat 0px 0px;
}
.thumb_sel .next_thumb {
	background: url(../img/thumb_selection.gif) no-repeat -76px 0px;
	float: left;
	width: 24px;
	height: 22px;
	cursor: hand; 
	cursor: pointer;
}
.thumb_sel .next_thumb:hover {
	background: url(../img/thumb_selection.gif) no-repeat -26px 0px;
}
.small_text{
	font-size: 10px;
}
.post-wall-subcontent .extracted_url {margin-top:8px;}

.submitbttn .over{background:#EDEDED;color:#000;}